<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.suom.srs.seyedmoin.srcremote">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".OrgActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartPage">
            <intent-filter>
                <action android:name="ir.suom.srs.seyedmoin.srcremote.StartPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".CheckWifi.WifiService" />

        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="ir.suom.srs.seyedmoin.srcremote.MainPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inst_Panel.Inst_Act"
            android:label="@string/administator_panel">
            <intent-filter>
                <action android:name="ir.suom.srs.seyedmoin.srcremote.Inst_Act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".CheckWifi.WifiService" />
        <service android:name=".DeviceService.DeviceService" />
    </application>

</manifest>